Ali Farrokhnejad <farrokh445@gmail.com> AFR0011 <FARROKH445@GMAIL.COM>
Ali Farrokhnejad <farrokh445@gmail.com> AFR0011 <farrokh445@gmail.com>
Ali Farrokhnejad <farrokh445@gmail.com> unknown <Ali@CMPE-AI-08.emu.edu.tr>
